/.settings/
/xs-syncer.log
/.DS_Store
/.vscode/
/logs/
com.feng.main/xs-syncer.log
com.feng.main/src/main/resources/.DS_Store
com.feng.wechat/src/main/resources/.DS_Store
com.feng.sportsone/.DS_Store
com.feng.sportsone/xs-syncer.log
com.feng.sportsone/src/.DS_Store
com.feng.sportsone/src/main/resources/.DS_Store
com.feng.sportsone/src/test/.DS_Store
com.feng.sportsone/logs/log_info.log
com.feng.main/.DS_Store
